html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Zilla Slab", serif;
}

p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
  }

  p {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 3.5rem;
    margin-bottom: 0;
    text-align: center;
  }

  p {
    font-size: 2.5rem;
  }
}
.fondo-blanco h2 {
  color: #393839;
  text-decoration: underline 0.5rem #848586;
}

.fondo-negro h2 {
  color: #F7F7FF;
  text-decoration: underline 0.5rem #848586;
}

.padding-section {
  width: 100%;
  padding: 30px;
}

@media (min-width: 992px) {
  .padding-section {
    padding: 50px;
  }
}
.container-secciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .container-secciones__textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.fondo-blanco {
  background-color: #F7F7FF;
}

.fondo-gris {
  background-color: rgba(132, 133, 134, 0.8549019608);
}

.fondo-negro {
  background-color: #393839;
}

.iconify {
  font-size: 1.8rem;
}

form, .botones-contacto, .container-secciones__textos-contacto, .card-proyectos, .texto-main, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 25rem;
  height: 25rem;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #F7F7FF;
}

.enlaces {
  font-size: 2rem;
  color: #393839;
  font-family: "Roboto", sans-serif;
}

.sidenav {
  width: 200px;
}

.sidenav-trigger {
  color: #393839;
}

.contenedor-enlaces {
  display: flex;
  justify-content: space-around;
}

.redes_lg {
  display: none;
}

@media (min-width: 480px) {
  .redes_lg {
    display: flex;
  }
}
.material-icons svg {
  font-size: 2.5rem;
}

main {
  background-color: #393839;
  margin-top: 57px;
}

.avatar {
  border-radius: 50%;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .avatar {
    width: 30rem;
    height: 30rem;
  }
}
@media (min-width: 992px) {
  .avatar {
    width: 40rem;
    height: 40rem;
  }
}
h1 {
  font-family: "Zilla Slab", serif;
  font-weight: 500;
  font-size: 6rem;
  margin-bottom: 0;
  color: #F7F7FF;
  text-decoration: underline 5px #F7F7FF;
}

@media (min-width: 992px) {
  h1 {
    font-size: 8.5rem;
  }
}
.parrafo-main {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 3rem;
  margin-top: -15px;
  color: #F7F7FF;
}

@media (min-width: 992px) {
  .parrafo-main {
    font-size: 4rem;
    margin-top: -20px;
  }
}
button {
  background-color: #F7F7FF;
  border: none;
  border-radius: 20px;
}
button a {
  display: block;
  color: #393839;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 10px 20px;
}
button a:hover {
  color: #848586;
  text-decoration: none;
}

@media (min-width: 992px) {
  button {
    margin-bottom: 0;
  }
}
.container-botones_cv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

@media (min-width: 1080px) {
  .container-botones_cv {
    flex-direction: row;
    justify-content: space-between;
  }
}
.coderhouse {
  color: #393839;
  text-decoration: underline;
}

#sobre-mi {
  color: #393839;
}

#que-hago {
  color: #F7F7FF;
}

.carousel-tech {
  height: 200px;
}

.carousel-tech .carousel-item > img {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .carousel-tech {
    height: 200px;
  }
}
.btn-floating {
  background-color: unset;
  box-shadow: none;
}

.btn-floating:hover {
  background-color: unset;
}

#mis-proyectos {
  color: #393839;
}

#container-proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  #container-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}
.card-proyectos:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .card-proyectos:nth-child(odd) {
    margin-left: 80px;
  }

  .card-proyectos:last-of-type {
    margin: 0 auto;
  }
}
.proyecto-nombre,
.proyecto-techs {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 100%;
  margin-bottom: 20px;
  color: #393839;
}

@media (min-width: 992px) {
  .proyecto-nombre,
.proyecto-techs {
    font-size: 2rem;
  }
}
.container-botones {
  display: flex;
  gap: 30px;
}

.boton-link {
  background-color: #393839;
  border-radius: 20px;
  margin-top: 20px;
}

.boton-link a {
  color: #F7F7FF;
  font-size: 1.4rem;
}

@media (min-width: 992px) {
  .boton-link a {
    font-size: 2rem;
  }
}
.boton-link a:hover {
  color: #f9c610;
}

.img-portfolio {
  width: 450px;
  height: 250px;
}

@media (min-width: 1200px) {
  .img-portfolio {
    width: 500px;
    height: 300px;
  }
}
#testimonios {
  color: #F7F7FF;
}

.testimonios {
  display: flex;
}

blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-color: #F9C80E;
  margin-bottom: 60px;
}

@media (min-width: 992px) {
  blockquote {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 40px;
  }
}
q {
  font-size: 1.8rem;
}

.img-testimonio {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#contacto {
  color: #393839;
}

@media (min-width: 768px) {
  .botones-contacto {
    flex-direction: row;
    gap: 20px;
  }
}
.botones-contacto button {
  margin-bottom: 20px;
  background-color: #393839;
}

@media (min-width: 768px) {
  .botones-contacto button {
    margin-bottom: 0;
  }
}
.botones-contacto button a {
  color: #F7F7FF;
}

.botones-contacto button a:hover {
  color: #f9c610;
}

.botones-contacto button:last-child {
  margin-bottom: 0;
}

.subir {
  display: flex;
  background-color: #393839;
  padding: 10px;
  border-radius: 50%;
  border: solid 2px #F7F7FF;
}

.subir .flecha {
  font-size: 3rem;
  color: #F7F7FF;
}

form {
  width: 100%;
}

@media (min-width: 768px) {
  form {
    width: 80%;
  }
}
@media (min-width: 992px) {
  form {
    width: 50%;
  }
}
form label {
  font-size: 18px;
  color: #393839;
}

form input {
  margin-top: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  font-size: 1.8rem;
}

::placeholder {
  font-size: 14px;
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #9e9e9e;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #000;
  box-shadow: unset;
}

.botones-form {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.botones-form button {
  background-color: #393839;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #F7F7FF;
}

.botones-form button:hover {
  color: #f9c610;
}

footer {
  margin: 0;
  padding: 20px 0;
}
footer p {
  text-align: center;
  color: #F7F7FF;
}
footer a {
  color: #F7F7FF;
}

/*# sourceMappingURL=styles.css.map */
