#contacto {
    color: $secundario
}

.container-secciones__textos-contacto {
    @extend %flex-columnCentrado;
}

.botones-contacto {
    @extend %flex-columnCentrado;
}

@media (min-width: 768px) {
    .botones-contacto {
        flex-direction: row;
        gap: 20px;
    }
}
.botones-contacto button {
    margin-bottom: 20px;
    background-color: $secundario;
}

@media (min-width: 768px) {
    .botones-contacto button {
        margin-bottom: 0;
    }
}

.botones-contacto button a {
    color: $blanco;
}

.botones-contacto button a:hover {
    color: $principal;
}

.botones-contacto button:last-child {
    margin-bottom: 0;
}
.subir {
    display: flex;
    background-color: $secundario;
    padding: 10px;
    border-radius: 50%;
    border: solid 2px $blanco;
}
.subir .flecha {
    font-size: 3rem;
    color: $blanco
}

form {
    @extend %flex-columnCentrado;
    width: 100%;
}

@media (min-width: 768px) {
    form {
        width: 80%;
    }
}

@media (min-width: 992px) {
    form {
        width: 50%;
    }
}

form label {
    font-size: 18px;
    color: $secundario;
}

form input {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    font-size: 1.8rem;
}

::placeholder {
    font-size: 14px;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #9e9e9e;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000;
    box-shadow: unset;
}

.botones-form {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.botones-form input,
.botones-form button {
    background-color: $secundario;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: $blanco;

    &:hover {
        color: $principal;
    }
}

