.botones-contacto {
    @extend %flex-columnCentrado;
}
@media (min-width: 768px) {
    .botones-contacto {
        flex-direction: row;
        gap: 20px;
    }
}
.botones-contacto button {
    margin-bottom: 20px;
    background-color: $amarillo;
}
@media (min-width: 768px) {
    .botones-contacto button {
        margin-bottom: 0;
        
    }
}
.botones-contacto button:last-child {
    margin-bottom: 0;
}
.subir {
    display: flex;
    background-color: $amarillo;
    padding: 10px;
    border-radius: 50%;
}
.subir .flecha {
    font-size: 3rem;
    color: $negro;
}
