%flex-columnCentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%size-s {
    width: 400px;
    height: 400px;
}


@mixin size-m {
    width: 500px;
    height: 500px;
}
@mixin size-l {
    width: 600px;
    height: 600px;
}