@mixin medium-screen {
    @media (min-width: $medium) {
        @content;
    }
}

@mixin large-screen {
    @media (min-width: $large) {
        @content;
    }
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin size-l {
    width: 40rem;
    height: 40rem;
}

@mixin flex-columnCentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-centrado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

%size-s {
    width: 25rem;
    height: 25rem;
}

