%flex-columnCentrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%size-s {
    width: 25rem;
    height: 25rem;
}


@mixin size-m {
    width: 30rem;
    height: 30rem;
}
@mixin size-l {
    width: 40rem;
    height: 40rem;
}