
$amarillo: #F9C80E;
$negro: #202030;
$blanco: #F7F7FF;
$verde: #26532B;
$gris: #848586;
$gris-opaco: #848586b4;


$titulos: 'Zilla Slab', serif;
$parrafos: 'Roboto', sans-serif;


html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-family: $titulos;
    color: $negro;
    text-decoration: underline 5px $amarillo;
}
p {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 20px;
}


@media (min-width: 768px) {
    h2 {
        font-size: 3rem;
        margin-bottom: 30px;
        text-align: center;
    }
    p {
        font-size: 2.3rem;
    }
}

@media (min-width: 992px) {
        h2 {
            font-size: 3.5rem;
            margin-bottom: 0;
            text-align: center;
        }
        p {
            font-size: 3rem;
        }
}

.padding-section {
    width: 100%;
    padding: 30px;
}
@media (min-width: 992px) {
    .padding-section {
        padding: 50px;
    }
}
.container-secciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 992px) {
    .container-secciones {
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: baseline;
    }
    .container-secciones__textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.fondo-blanco {
    background-color: $blanco;
}
.fondo-gris {
        background-color: #848586da;
    }
    
.iconify {
    font-size: 2.5rem;
}