html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    font-family: $titulos;
}
p {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

@include medium-screen {
    h2 {
        font-size: 3rem;
        margin-bottom: 30px;
        text-align: center;
    }
    p {
        font-size: 2rem;
    }
}

@include large-screen {
    h2 {
        font-size: 3.5rem;
        margin-bottom: 0;
        text-align: center;
    }
    p {
        font-size: 2.5rem;
    }
}

.fondo-blanco h2 {
    color: $primario;
}

.fondo-negro h2 {
    color: $secundario;
}

.padding-section {
    width: 100%;
    padding: 30px;
}

@include large-screen {
    .padding-section {
        padding: 50px;
    }
}

.container-secciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@include large-screen {
    .container-secciones__textos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.fondo-blanco {
    background-color: $secundario;
}
.fondo-gris {
    background-color: #848586da;
}

.fondo-negro {
    background-color: $primario;
}
    
.iconify {
    font-size: 1.8rem;
}