nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: $blanco;
}
.enlaces {
    font-size: 2rem;
    color: $negro;
    font-family: $parrafos;
}

.enlaces:hover {
    background-color: $amarillo;
}
.sidenav {
    width: 200px;
}
.sidenav-trigger {
    color: $negro;
}
.right {
    float: unset!important;
    display: flex;
    justify-content: center;
}