nav {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: $blanco;
}

#navbarNav {
    background-color: $blanco!important;
    width: 100%;
    padding: 10px;
}

.enlaces {
    font-size: 2rem;
    color: $negro;
    font-family: $parrafos;
}

.enlaces:hover {
    background-color: $amarillo;
}

.sidenav-trigger {
    color: $negro;
}