nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $secundario;
}
.enlaces {
    font-size: 2rem;
    color: $primario;
    font-family: $parrafos;
}
.sidenav {
    width: 200px;
}
.sidenav-trigger {
    color: $primario;
}
.contenedor-enlaces {
    display: flex;
    justify-content: space-around;
}

.redes_lg {
    display: none;
}

@media (min-width: 480px) {
    .redes_lg {
        display: flex;
    }
}

.material-icons svg {
    font-size: 2.5rem;
}