main {
    @extend %flex-columnCentrado;
    background-color: $secundario;
    margin-top: 57px;
}

.avatar {
    @extend %size-s;
    border-radius: 50%;
    margin-top: 3rem;
}
@media (min-width: 768px) {
    .avatar {
        @include size-m;
    }
}
@media (min-width: 992px) {
    .avatar {
        @include size-l;
    }
}
.texto-main {
    @extend %flex-columnCentrado;
}

h1 {
    font-family: $titulos;
    font-weight: 500;
    font-size: 6rem;
    margin-bottom: 0;
    color: $blanco;
    text-decoration: underline 5px $blanco;
}
@media (min-width: 992px) {
    h1 {
        font-size: 8.5rem;
    }
}
.parrafo-main {
    font-family: $parrafos;
    font-weight: 100;
    font-style: italic;
    font-size: 3rem;
    margin-top: 0;
    color: $blanco;
}
@media (min-width: 992px) {
    .parrafo-main {
        font-size: 4rem;
        margin-top: 0;
    }    
}
button {
    background-color: $blanco;
    border: none;
    border-radius: 20px;
    a {
        display: block;
        color: $secundario;
        font-family: $parrafos;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 10px 20px;

        &:hover {
            color: $gris;
            text-decoration: none;
        }
    }
}
@media (min-width: 992px) {
    button {
        margin-bottom: 0;
    }
}

.container-botones_cv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

@media (min-width: 1080px) {
    .container-botones_cv {
        flex-direction: row;
        justify-content: space-between;
    }
}

.coderhouse {
    color: $secundario;
    text-decoration: underline;
}

#sobre-mi {
    color: $secundario;
}

#que-hago {
    color: $blanco;
}