main {
    @include flex-columnCentrado;
    background-color: $primario;
}

@include large-screen {
    main {
        @include flex-centrado;
        gap: 10rem;
    }
}
.avatar {
    @include size(100%, inherit)
}

@media (min-width: 992px) {
    .avatar {
        @include size(40rem, 40rem);
    }
}
.texto-main {
    @include flex-columnCentrado;
}

h1 {
    font-family: $titulos;
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 0;
    color: $secundario;
    text-decoration: underline 5px $secundario;
}

@include medium-screen {
    h1 {
        font-size: 6rem;
    }
}

.parrafo-main {
    font-family: $parrafos;
    font-weight: 100;
    font-style: italic;
    font-size: 3rem;
    margin-top: 0;
    color: $secundario;
}

@include medium-screen {
    .parrafo-main {
        font-size: 4rem;
        margin-top: 0;
    }
}

button {
    background-color: $primario;
    border: solid 1px $secundario;
    transition: all .3s;
    &:hover {
        background-color: $secundario;
    }
    a {
        display: block;
        color: $secundario;
        font-family: $parrafos;
        font-size: 1.8rem;
        font-weight: 700;
        padding: 10px 20px;
        transition: all .3s;

        &:hover {
            border: none;
            color: $primario;
            text-decoration: none;
        }
    }
}

@include large-screen {
    button {
        margin-bottom: 0;
    }
}

.container-botones_cv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 40px;
}

@include medium-screen {
    .container-botones_cv {
        flex-direction: row;
        justify-content: space-between;
    }
}

.coderhouse {
    color: $primario;
    text-decoration: underline;
}

#sobre-mi {
    color: $primario;
}

#que-hago {
    color: $secundario;
}

.boton-fijo {
    left: 23px;
    right: unset;
}

.lista-tareas li {
    list-style-type: disc!important;
    font-size: 1.7rem;
    margin-left: 50px;
}

// @include medium-screen {
//     .lista-tareas li {
//         font-size: 1.5rem;
//     }
// }

@include large-screen {
    .lista-tareas li {
        font-size: 2rem;
    }
}