.slider {
    z-index: 0;
}

.slider .slides li img {
    height: 600px;
}


.proyecto-nombre,
.proyecto-techs {
    text-align: center;
    font-size: 1.6rem;
    font-family: $parrafos;
    font-weight: 700;
    margin-bottom: 10px;
    color: $blanco;
}
@media (min-width: 992px) {
    .proyecto-nombre,
    .proyecto-techs {
        font-size: 2rem;
    }
}
.container-botones {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}
.boton-link {
    background-color: $amarillo;
    border-radius: 20px;
    margin-bottom: 0;
}
.boton-link a {
    color: $negro;
    font-size: 1.4rem;
}
@media (min-width: 992px) {
    .boton-link a {
        font-size: 2rem;
    }
}
.boton-link a:hover {
    color: unset;
}

.slider .slides li {
    top: unset;
}

.slider .slides li img {
    background-position: center center;
}

.slider .slides li .caption {
    background-color: $gris-opaco;
    

}
