#testimonios {
  color: $secundario;
}

.testimonios {
    display: flex;
}
blockquote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: $secundario;
    margin-bottom: 60px;
}

@include large-screen {
  blockquote {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    gap: 40px;
    }
}

q {
  font-size: 1.8rem;
}

.img-testimonio {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}